/* apply a natural box layout model to all elements */
/*http://www.paulirish.com/2012/box-sizing-border-box-ftw/*/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  min-width: 1080px;
  background-color: #fff;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  color: #000;
}

h1, h2, h3, h4 {
  margin: 1em 0 0 0;
  padding: 0;
  font-family: "Palatino Header", "Bookman Header", serif;
  color: #000;
  font-weight: bold;
}

h3 {
  margin: 1.5em 0 0 0;
}

p {
  font-size: 1em;
  line-height: 1.65em;
  color: #000;
  margin: 0 0 1.65em 0;
  padding: 0;
}

a {
  font-size: 1.2em;
  color: #000;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

a:hover {
  opacity: .5;
}

td a {
  padding: 0 1em;
}

ul {
  list-style-type: none;
}

pre {
  font-size: 1em;
  border: 1px solid #000000;
  background-color: #eeeeee;
  white-space: pre-wrap;
  padding: 1em;
}

img {
    max-width: 100px;
}

footer {
  content: "";
  clear: both;
  display: table;
  margin: 1em 5% 1.25em 5%;
  padding: 0;
  background-color: #fff;
}

footer p {
  margin: 0;
  padding: 0;
  font-size: .8em;
}

/* ==========================================================================
   Mobile(ish) Styles
   ========================================================================== */

@media only screen and (max-width: 600px) {

body {
  font-size: 14px;
}

header h1 {
  font-size: 2.25em;
}

header h1 {
  margin-top: 5%;
}

nav a {
  font-size: 1.25em;
}

}
