{{ define "content" }}
<h2>Bucket: {{ .Bucket }}</h2>
<section>
	<input type="text" id="search" name="{{ .Bucket }}" placeholder="Search term." />
	<input type="submit" value="Search" onclick="search();" />
</section>
<ul>
{{ range $k, $v := .Batch }}
    {{ if $v }}
        <li><a href="/read/{{ $.Bucket }}/{{ $k }}">{{ $k }}</a></li>
    {{ else }}
        <li><a href="/read/pastes/{{ $k }}">{{ $k }}</a></li>
    {{ end }}
{{end}}
</ul>

{{ if .Next }}
<a href="/keys/{{ .Bucket }}/{{ .Next }}">Next</a>
{{ end }}

{{ end }}
